In [1]:
import pandas as pd

data ที่ 1 Athletes
1: แต่ละประเทศมีนักกีฬากี่คน
2: นักกีฬาแต่ละประเทศลงแข่งกีฬาชนิดไหนบ้าง และกี่คนในชนิดนั้น

In [11]:
df1=pd.read_csv("Athletes.csv")
# df1
df1.drop_duplicates(inplace=True)
# print(df1.info())
name=[]
country=[]
for i in range(11084):
    name.append(df1.loc[i,"Name"])
    country.append(df1.loc[i,"NOC"])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11084 entries, 0 to 11084
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        11084 non-null  object
 1   NOC         11084 non-null  object
 2   Discipline  11084 non-null  object
dtypes: object(3)
memory usage: 216.5+ KB
None

data ที่ 2 EntriesGender
1:ในกีฬาแต่ละชนิดมีนักกีฬากี่คน รวมชายหญิง
2:มีนักกีฬาชายกี่คน หญิงกี่คน

In [2]:
df2=pd.read_csv("EntriesGender.csv")
# # df2
dict2={}
female=0
male=0
for i in range(46):
    sport=int(df2.loc[i,"Female"])+int(df2.loc[i,"Male"])
    dict2[df2.loc[i,"Discipline"]]=sport
    male = male + int(df2.loc[i,"Male"])
    female = female +int(df2.loc[i,"Female"])
df21=pd.DataFrame(dict2,index =["1"])
print("female : ",female)
print("male : ",male)
df21
# print(df2.info)

female :  5432
male :  5884

,3x3 Basketball,Archery,Artistic Gymnastics,Artistic Swimming,Athletics,Badminton,Baseball/Softball,Basketball,Beach Volleyball,Boxing,...,Swimming,Table Tennis,Taekwondo,Tennis,Trampoline Gymnastics,Triathlon,Volleyball,Water Polo,Weightlifting,Wrestling
1,64,128,196,105,2041,173,234,288,96,289,...,779,172,130,191,32,110,288,268,197,289

dataที่ 3 Medel
1: แต่ละประเทศได้เหรียญกันไปเท่าไหร่
2: เหรียญทั้งหมดในการแข่งขันมีทั้งหมดกี่เหรียญ

In [ ]:
df3=pd.read_csv("Medals.csv")
# df3
total=0
dict3={}
list3=[]
for i in range(93):
    # print(df3.loc[i,"Team/NOC"],end=" ")
    con =int(df3.loc[i,"Gold"])+int(df3.loc[i,"Silver"])+int(df3.loc[i,"Bronze"])
    # print(con,end="")
    total = total +con
    # print()
    list3.append(i)
    dict3[df3.loc[i,"Team/NOC"]]=con
df31=pd.DataFrame(dict3,index=["1"])
print("Total : ",total)
df31